################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RubikCube/.vs/RubikCube/v15
/.vs/Rubiks Cube/v15
*.meta
/RubikCube/Assets/Presets
/RubikCube/Library/Artifacts
/RubikCube/Library/PackageCache
*.pdb
/RubikCube/Library/ScriptAssemblies
/RubikCube/Library/ShaderCache
/RubikCube/Library/SpriteAtlasDatabase.asset
/RubikCube/Library/SourceAssetDB-lock
/RubikCube/Library/SourceAssetDB
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe7.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe6.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe5.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe4.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe3.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe2.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe1.log
/RubikCube/Library/shadercompiler-UnityShaderCompiler.exe0.log
/RubikCube/Library/ShaderCache.db
/RubikCube/Library/ScriptMapper
/RubikCube/Library/SceneVisibilityState.asset
/RubikCube/Library/MonoManager.asset
/RubikCube/Library/LibraryFormatVersion.txt
/RubikCube/Library/LastSceneManagerSetup.txt
/RubikCube/Library/InspectorExpandedItems.asset
/RubikCube/Library/expandedItems
/RubikCube/Library/EditorUserSettings.asset
/RubikCube/Library/EditorUserBuildSettings.asset
/RubikCube/Library/EditorSnapSettings.asset
/RubikCube/Library/EditorOnlyScriptingSettings.json
/RubikCube/Library/EditorInstance.json
/RubikCube/Library/CurrentLayout-default.dwlt
/RubikCube/Library/BuildSettings.asset
/RubikCube/Library/BuildPlayer.prefs
/RubikCube/Library/AssetImportState
/RubikCube/Library/ArtifactDB-lock
/RubikCube/Library/ArtifactDB
/RubikCube/Library/AnnotationManager
/RubikCube/ProjectSettings
/RubikCube/obj
/RubikCube/Logs
/RubikCube/Library/StateCache
/RubikCube/Assets/valve.blend
